<nav class="navbar bg-dark px-5 mb-4 sticky-top">
  <h1 class="navbar navbar-nav text-white"><%= @title %></h1>
  <div class="d-flex justify-content-end", style="column-gap:10px">
    <%= button_to "Delete Post", blog_post_path(@post), method: :delete, data: {
                                                          turbo_confirm: "Are you sure you want to delete this post?",
                                                        }, class: "btn btn-outline-danger" %>
    <a href="<%= blog_post_path(@post) %>" class="btn btn-outline-primary">Cancel</a>
  </div>
</nav>
<%= render "form", post: @post %>
