<nav class="navbar bg-dark px-5 mb-4">
  <h1 class="navbar navbar-nav text-white">New Blog Post</h1>
  <a href="<%= root_path %>" class="btn btn-outline-primary">Home</a>
</nav>
<%= render partial:'form', locals:{post: @post} %>
