<div class="container pt-5 align-items-center justify-content-center">
  <div class="card bg-dark text-white p-5">
    <h1 class="text-center"><%= @post.title %></h1>
    <p><%= @post.body %></p>
    <div><a class="btn btn-primary" href="<%= root_path %>">Back Home</a></div>
  </div>
</div>
